<section class="es-form-section">
<span class="es-form-label">{{formDesk.Caption}}</span>
<form
  class="es-form"
  action="http://dev.office.eshko.net:8080/esccapp/tst/submit.jsp"
  method="get"
  target="_blank"
  novalidate
  (submit)="onSubmit(OrderHTMLForm)"
  [formGroup]="orderForm"
  #OrderHTMLForm>

  <app-course-info *ngIf="formCourseInfoType" [courseObj]="courseObjPick"></app-course-info>

  <div class="es-form-field es-course-field">
    <label for="course">Курс</label>
    <select
      class="form-control"
      name="course" id="course"
      formControlName="course"
      (change)="onChangeCourse($event.target.value)">
      <option
        *ngFor="let course of courseObjArr"
        [value]="course.id">
        {{course.name}}
      </option>
    </select>
    <app-message-error [msgValue]="formErrors.course"></app-message-error>
  </div>

  <div class="es-form-field">
    <label for="iname">Имя</label>
    <input
      type="text"
      name="iname" id="iname"
      formControlName="clientNameFirst"
      class="form-control"
      [value] = orderForm.value.clientNameFirst>
    <app-message-error [msgValue]="formErrors.clientNameFirst"></app-message-error>
  </div>

  <div class="es-form-field">
    <label for="fname">Фамилия</label>
    <input
      type="text"
      name="fname" id="fname"
      formControlName="clientNameLast"
      class="form-control">
    <app-message-error [msgValue]="formErrors.clientNameLast"></app-message-error>
  </div>

  <div class="es-form-field" *ngIf="orderForm.value.hasOwnProperty('clientNameMiddle')">
    <label for="mname">Отчество</label>
    <input
      type="text"
      name="mname" id="mname"
      formControlName="clientNameMiddle"
      class="form-control">
    <app-message-error [msgValue]="formErrors.clientNameMiddle"></app-message-error>
  </div>

  <div class="es-form-field">
    <label for="phone">Телефон</label>
    <input
      type="text"
      name="phone" id="phone"
      formControlName="clientPhone"
      class="form-control">
      <app-message-error [msgValue]="formErrors.clientPhone"></app-message-error>
  </div>

  <div class="es-form-field">
      <label for="email">Электронная почта</label>
    <input
      type="text"
      name="email" id="email"
      formControlName="clientEmail"
      class="form-control">
    <app-message-error [msgValue]="formErrors.clientEmail"></app-message-error>
  </div>

  <div class="es-form-field">
    <div class="checkbox">
      <label><input type="checkbox" name="agree" formControlName="agreeRules">Согласиться с правилами</label>
      <app-message-error [msgValue]="formErrors.agreeRules"></app-message-error>
    </div>
  </div>

  <div class="es-form-field">
    <button class="btn btn-success es-bnt-submit">{{formDesk.Submit}}</button>
  </div>
</form>
</section>
