/*Секция формы*/
.es-form-div{
  padding: 20px 5px 20px 5px;
  width: 100%;
  /*border: solid 1px red;*/
  /*background-color: bisque;*/
}
/*Информация о курсе*/
.es-course{}
.es-course-cover{
  float: left;
  margin: 0 10px 10px 0;
  width: 200px;
}
.es-course-price{}
.es-course-sale{}

/*Сообщения об ошибках*/
.es-message{
  /*padding: 8px; /* Стандартная форма */
  padding: 4px 8px 3px 8px; /* Компактная форма */
  border-radius: 6px;
  font-size: 1.25rem;
}
.es-error{
  background-color: #FF8A8A;
}
.es-error .es-label{
  color: #17202A;
  font-weight: bold;
}
/*Форма*/
.es-form{
  padding: 10px 3px 20px 3px;
  /*background-color: darkgrey;*/
  /*border: solid 1px red;*/
  display: flex;
  flex-wrap: wrap;
}
/*Поля формы*/
.es-form-fld{
  flex-basis: 48%; /*flex-true*/
  width: 100%; /*flex-false*/
  margin: 1px 10px 10px 1px;
  flex-grow: 1;
}
/* Поле выбора курса*/
.es-fld-course {
  flex-basis: 100%; /*flex-true*/
  /*width: 100%; /*flex-false*/
}
.es-fld-fname{}
.es-fld-lname{}
.es-fld-mname{}
.es-fld-phone{}
.es-fld-email{}
.es-fld-agree{}
.es-fld-submit{
  flex-basis: 1%;
}
option:disabled {
  font-weight: bold;
  color: #7B241C;
  font-size: 1.5rem;
}
/* Кнопка отправить */
.es-bnt-submit{
  display: block;
  margin: auto;
  color: #FFF;
  background-color: #449d44;
}
.es-bnt-submit:hover{
  color: #FFF;
  background-color: #217c21;
}
