/*Секция формы*/
.es-form-section{
  padding: 20px 5px 20px 5px;
  width: 100%;
  /*border: solid 1px red;*/
  /*background-color: bisque;*/
}
/*Информация о курсе*/
.es-course{}
.es-course-cover{
  float: left;
  margin: 0 10px 10px 0;
  width: 200px;
}
.es-course-price{}
.es-course-sale{}

/*Сообщения об ошибках*/
.es-message{
  padding: 10px;
  border-radius: 6px;
  font-size: 1.25rem;
}
.es-error{
  background-color: #FF8A8A;
}
.es-error .es-label{
  color: #17202A;
  font-weight: bold;
}
/*Форма*/
.es-form{
  padding: 10px 3px 20px 3px;
  /*background-color: darkgrey;*/
  /*border: solid 1px red;*/
  display: flex;
  flex-wrap: wrap;
}
/*Поля формы*/
.es-form-field{
  width: 48%;
  margin: 1px 10px 10px 1px;
  flex-grow: 1;
}
/* Поле выбора курса*/
.es-course-field {
  width: 100%;
}
option:disabled {
  font-weight: bold;
  color: #7B241C;
  left: 20px;
  font-size: 1.8rem;
}

/* Описание полей */
.es-label-example {
  font-weight: normal;
}

/* Кнопка отправить */
.es-bnt-submit{
  display: block;
  margin: auto;
  text-transform: uppercase;
}
